/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

h2 {
    font-size: 2.5rem
}

h3 {
    font-size: 1.5rem;
}

h1, h2 ,h3 {
    font-family: Kalam, sans-serif; 
    letter-spacing: 1px;
    color: rgb(142, 137, 137);
}


/* Structure */

body {
    font-family: Kalam, sans-serif;
    font-weight: 300;
    color: rgb(142, 137, 137);
    font-size: 1.3rem;
}


* {
    margin: 0;
    padding: 0;
    border: none;
}

/* logo */

#logo {
    float: left;
    font-size: 300%;
}

/* navigation bar and reordering list*/

#nav-bar {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
    font-family: Kalam, sans-serif;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar, #logo {
    line-height: 75px;
}

#nav-bar a:hover {
    border-bottom: 1px solid rgb(142, 137, 137);
}

.active-border {
    border-bottom: 1px solid rgb(142, 137, 137);
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;
}

#overflow {
    overflow: hidden;  
    height: 600px;
    width: 100%; 
}

/* about us */

#about-us {
    text-align: center;
    border: solid 2px gold;
    text-align: center;
}

#text-left {
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
}

#style {
    text-decoration: underline;
    text-align: left;
    margin-top: 10px;
}